/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lato&d&display=swap');



* {
    box-sizing: border-box;
    
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(82, 120, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
.containers{
    background-color: rgb(98, 127, 255);
    padding: 20px 40px ;

    border-radius: 5px;
}

.containers h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.containers a {
    text-decoration: none;
    color: white;
}

.form-controll{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-controll input{
    background-color:transparent;
    border: 0;
    border-bottom: 2px rgb(255, 255, 255) solid;
    display: block;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    color: aliceblue;
}

.form-controll input:focus, .form-controll input {
    outline: 0;
    border-bottom-color:antiquewhite;
}


.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}


.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: rgb(177, 191, 255);
    padding: 15px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.text{
    margin-top: 30px;
}

.form-controll label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-controll label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-controll input:focus + label span,
.form-controll input:valid + label span {
    color: white;
    transform: translateY(-30px);
}