/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Muli&d&display=swap');




:root{
    --line-border-fill: rgb(0, 136, 255) ;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}
body{
    background-color: rgb(130, 153, 238);
    font-family: 'Muli';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.title {
    color:aliceblue;
}

.container{
    text-align: center;
}
.prograss-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.prograss-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}



.prograss{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transform: 0.4s ease;
}
.circle {
    background-color: azure;
    color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);


}

.btn {
    background-color: var(--line-border-fill);
    color:aliceblue;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}
.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}
